.AccountDashboard {
	border-radius: 0.3rem;
	border: solid #00162b;
	margin-top: 1rem;
}

.AccountDashboard__Header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #004E98;
	color: white;
	margin-top: 1rem;
	align-content: center;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:	0;
}

.AccountDashboard__SavingCardsHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1rem 0 1rem;
	background: #004E98;
	color: white;
	border-top: solid #00162b;
	border-bottom: solid #00162b;
}

.AccountDashboard__SavingCardsNew {
	background: #DF5A00;
	color: white;
	border: 0;
	border-radius: 0.3rem;
	height: 4rem;
	align-self: center;
}

.AccountDashboard__SavingCardsNew:hover {
	background-color: #af4700;
}

.AccountDashboard_SavingCardsContainer {
	display: flex;
	min-height: 33rem;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
}