.AccountPanel {
	margin-top: 1rem;
}

.AccountPanel__Header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #004E98;
	color: white;
}

.AccountPanel__Heading {
	padding-left: 2rem;
	padding-top: 1rem;
}

.AccountPanel__NewAccount {
	height: 4rem;
	align-self: center;
	margin-right: 2rem;
	background-color: #DF5A00;
	color: white;
	border: 0;
	border-radius: 0.3rem;
}

.AccountPanel__NewAccount:hover {
	background-color: #af4700;
}

.AccountPanel__AccountContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
}