.AccountRemovalModal__Content {
	width: 37.6rem;
	margin: auto;
	margin-top: 5%;

	border: solid #0c3965 3px;
	border-radius: 0.5rem;
}

.AccountRemovalModal__Header {
	margin: 0;
	background-color: #004E98;
	padding: 3rem 0rem 2rem 2rem;
	color: white;
}

.AccountRemovalModal__Delete {
	width: 48%;
	margin: auto;
	padding: 1rem;
	background: #004E98;
	color: white;
	border-radius: 8px;
	border-color: white;
	border-width: 0.3rem;
	font-weight: bold;
	height: 6rem;
}

.AccountRemovalModal__Cancel {
	width: 48%;
	margin: auto;
	padding: 1rem;
	background: #DF5A00;
	color: white;
	border-radius: 8px;
	border-color: white;
	border-width: 0.3rem;
	font-weight: bold;
	height: 6rem;
}

.AccountRemovalModal__Delete:hover {
	background-color: #00274D;
}

.AccountRemovalModal__Cancel:hover {
	background-color: #af4700;
}

.AccountRemovalModal__Confirmation {
	display: flex;
	flex-direction: row;	
	justify-content: space-evenly;
	height: 10rem;
	background:#dedede;
}