.DashboardPage__Header {
	background-color: #004E98;
	padding-top: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.DashboardPage__Heading {
	color: white;
}

.DashboardPage__Logout {
	margin-right: 2rem;
	height: 4rem;
	width: 8rem;
	align-self: center;
	background-color: #DF5A00;
	color: white;
	border: 0;
	border-radius: 0.3rem;
	font-weight: 500;
}

.DashboardPage__Logout:hover {
	background-color: #af4700;
}

.DashboardPage__DashboardContainer {
	width: 39%;
	margin: auto;
	background-color: white;
}