.RegisterPage {
	height: 100vh;
	width: 100vw;
}

.RegisterPage__RegisterFormContainer {
	height: 47rem;
	width: 37.6rem;
	margin: auto;
	margin-top: 5%;

	border: solid #0c3965 3px;
	border-radius: 0.5rem;
}

.RegisterForm__Header {
	margin: 0;
	background-color: #004E98;
	padding: 3rem 0rem 2rem 2rem;
	color: white;
}

.RegisterPage__RegisterForm {
	padding: 5rem;
	padding-top: 2rem;
	background: #f3f3f3;
}

.RegisterForm__Input {
	margin-top: $s-size;
	margin-bottom: 2.8rem;
	display: flex;
	flex-direction: column;
}

.RegisterForm__Input label {
	margin-bottom: $s-size;
	color: #6b6060;
	font-weight: bold;
}

.RegisterForm__Credentials {
	border-radius: 0.3rem;
	border: solid 2px #004E98;
	padding: 0.5rem;
}

.RegisterForm__Submit {
	width: 50%;
	margin: auto;
	padding: 1rem;
	background: #004E98;
	color: white;
	border-radius: 8px;
	border-color: white;
	border-width: 0.3rem;
	font-weight: bold;
}

.RegisterForm__Submit:hover {
	background: #f3f3f3;
	color: #004E98;
	border-color: #004E98;
}
.RegisterForm__Register {
	font-size: 1.8rem;
}