.SavingCard {
	margin: 2rem;
	border: solid #0c3965 3px;
	border-radius: 0.5rem;
}

.SavingCard__Header {
	height: 10rem;
	padding-left: 1rem;
	margin: 0;
	background-color: #004E98;
	color: white;
	display: flex;
	justify-content: space-between;
}

.SavingCard__Remove {
	height: 3rem;
	color: white;
	background-color: #DF5A00;
	border-color: #df5a00;
	border-radius: 0.3rem;
}

.SavingCard__Remove:hover {
	background-color: #af4700;
	border-color: #af4700;
}

.SavingCard__Balance {
	padding-left: 1rem;
}