.SavingAccount {
	height: 20rem;
	width: 24.6rem;
	margin: 2rem;
	border: solid #0c3965 3px;
	border-radius: 0.5rem;
}

.SavingAccount__Header {
	margin: 0;
	background-color: #004E98;
	color: white;
	display: flex;
	justify-content: space-between;
}

.SavingAccount__Heading {
	margin-left: 1rem;
}

.SavingAccount__Remove {
	height: 3rem;
	color: white;
	background-color: #DF5A00;
	border-color: #df5a00;
	border-radius: 0.3rem;
}

.SavingAccount__Remove:hover {
	background-color: #af4700;
	border-color: #af4700;
}

.SavingAccount__OpenButton {
	padding: 1rem;
	background: #DF5A00;
	color: white;
	border-radius: 8px;
}

.SavingAccount__OpenButton:hover {
	background-color: #af4700;
}