.SavingCardCreationModal__Content {
	width: 37.6rem;
	margin: auto;
	margin-top: 5%;

	border: solid #0c3965 3px;
	border-radius: 0.5rem;
}

.SavingCardCreationModal__Header {
	margin: 0;
	background-color: #004E98;
	padding: 3rem 0rem 2rem 2rem;
	color: white;
}

.SavingCardCreationModal__Form {
	padding: 5rem;
	padding-top: 2rem;
	background: #f3f3f3;
}

.SavingCardCreationModal__Input {
	margin-top: $s-size;
	margin-bottom: 2.8rem;
	display: flex;
	flex-direction: column;
}

.SavingCardCreationModal__Input label {
	margin-bottom: $s-size;
	color: #6b6060;
	font-weight: bold;
}

.SavingCardCreationModal__InputField {
	border-radius: 0.3rem;
	border: solid 2px #004E98;
	padding: 0.5rem;
}

.SavingCardCreationModal__Submit {
	width: 48%;
	margin: auto;
	padding: 1rem;
	background: #004E98;
	color: white;
	border-radius: 8px;
	border-color: white;
	border-width: 0.3rem;
	font-weight: bold;
	height: 6rem;
}

.SavingCardCreationModal__Cancel {
	width: 48%;
	margin: auto;
	padding: 1rem;
	background: #DF5A00;
	color: white;
	border-radius: 8px;
	border-color: white;
	border-width: 0.3rem;
	font-weight: bold;
	height: 6rem;
}

.SavingCardCreationModal__Submit:hover {
	background-color: #00274D;
}

.SavingCardCreationModal__Cancel:hover {
	background-color: #af4700;
}

.SavingCardCreationModal__Confirmation {
	display: flex;
	flex-direction: row;	
	justify-content: space-evenly;
}