.WithdrawDeposit__Action--active {
	background-color: black;
	color: white;
}

.WithdrawDeposit {
	display: flex;
	flex-direction: column;
	height: 4rem;
	align-self: center;
	width: 28rem;
}

.WithdrawDeposit--active {
	height: 7rem;	
}

.WithdrawDeposit__Actions {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.WithdrawDeposit__Actions button {
	flex-grow: 1;
}

.WithdrawDeposit__Form {
	display: flex;
	flex-grow: 1;
}

.WithdrawDeposit__Amount {
	flex-grow: 1;
}

.WithdrawDeposit__Confirm {
	flex-grow: 1;
	background: #72869a;
	color: white;
	border: 0;
}

.WithdrawDeposit__Confirm:hover {
	color: white;
	background: #0b1d38;
	border: 0;
}

.WithdrawDeposit__Action {
	background: #DF5A00;
	color: white;
	border: 0;
	border-radius: 0.3rem;
}

.WithdrawDeposit__Action:hover {
	background-color: #af4700;
}

.WithdrawDeposit__Action--active {
	background: #773e17;
}