html {
    font-size: 62.5%;
    background-color: #000208bf;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m_size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}